<!DOCTYPE html>
{% load navbar_content %}
{% get_navbar_items as navbar_items %}
{% get_register_item as register_item %}
{% get_login_item as login_item %}
{% get_logged_in as logged_in %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in navbar_items %}
        {% include "basic_app/navbar_item.html" with item=item %}
      {% endfor %}
      {% comment %} 
      {% if logged_in %}
        {% include "basic_app/navbar_item.html" with item=login_item %}
      {% else %}
      {% endif %}
      {% endcomment %}
      {% include "basic_app/navbar_item.html" with item=register_item %}

    </ul>
  </div>
</nav>
