<!DOCTYPE html>
{% load navbar_content %}
<h1>{% get_navbar_items as navbar_items %}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% comment %} {% set real_item=dict(url_key='ham', text='bob') %} {% endcomment %}
      {% comment %} {% set real_item = { 'url_key': "ham", text: "bob", } %} {% endcomment %}
      {% comment %} {% include "basic_app/navbar_item.html" with item=dict(url_key='ham', text='bob') %} {% endcomment %}

      
      {% for item in navbar_items %}
        {% comment %} {{ item['text'] }} {% endcomment %}
        {{ item }}
        <h1>ham</h1>
        {% comment %} {% include "basic_app/navbar_item.html" with item=item %} {% endcomment %}
      {% endfor %}
      {% comment %} {% if logged_in %}
        {% include "basic_app/navbar_item.html" with item=register_item %}
      {% else %}
        {% include "basic_app/navbar_item.html" with item=login_item %}
      {% endif %} {% endcomment %}

    </ul>
  </div>
</nav>
